<!--
  Generated template for the SondagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Sondage</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <ion-segment [(ngModel)]="sondage">
      <ion-segment-button value="active">
        Sondage active
      </ion-segment-button>
      <ion-segment-button value="archive">
        Sondage archevé
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="sondage">
    <ion-list *ngSwitchCase="'active'">
      <ion-item *ngFor="let item of sondageActive" (click)="openSondage(item.id,item.id_commune,true)">
        <h2>Sondage #{{item.id}}</h2>
        <p>{{item.description}}</p>
        <small>Fin : {{item.fin.timestamp*1000 | date:shortDate }}</small>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'archive'">
      <ion-item *ngFor="let item of sondageArchive" (click)="openSondage(item.id,item.id_commune,false)">
        <h2>Sondage #{{item.id}}</h2>
        <p>{{item.description}}</p>
        <small>Fin : {{item.fin.timestamp*1000 | date:shortDate }}</small>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
