<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="notifopen($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--
  <ion-row class="cell-1">
    <button class="cell-1">
      <ion-col>
        <ion-icon name="md-arrow-dropright-circle"></ion-icon>
      </ion-col>
      <ion-col>
        Projets
      </ion-col>
    </button>
  </ion-row>
  <ion-row class="cell-2">
    <button class="cell-2">
      <ion-col>
        <ion-icon name="md-arrow-dropright-circle"></ion-icon>
        Réclamations
      </ion-col>
    </button>
  </ion-row>
  <ion-row class="cell-3">
    <button class="cell-3">
      <ion-col>
        <ion-icon name="md-arrow-dropright-circle" ion></ion-icon>
        Réclamations
      </ion-col>
    </button>
  </ion-row>
  <ion-row class="cell-4">
    <button class="cell-4">
      <ion-col>
        <ion-icon name="md-arrow-dropright-circle"></ion-icon>
        Réclamations
      </ion-col>
    </button>
  </ion-row>
-->
  <ion-grid no-padding>
    <ion-row flex-wrap: nowrap class="bg-commune" align-items-center (click)="chnageItem('0')">
      <ion-col align-self-stretch class="cell-1">
        <!-- <button ion-button block color="light" clear >commune</button> -->
        <h5 ion-text color="light" text-capitalize><ion-icon name="briefcase" margin-right="4px"></ion-icon> Commune</h5>
        <p class="brief" text-nowrap *ngIf="items[0]==false">small description about section </p>
        <div class="wrapper" [ngClass]="{'close': items[0]==false}">
          <button  ion-button color="light" clear icon-left (click)="redirect('projets')">
            <ion-icon name="construct"></ion-icon>
            Projets
          </button>
          <br>
          <button ion-button color="light" clear icon-left (click)="redirect('sondage')"  >
            <ion-icon name="stats" margin-right></ion-icon>
              sondage
          </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row flex-wrap: nowrap class="bg-cytoi" (click)="chnageItem('1')">
      <ion-col align-self-stretch class="cell-2">
        <!-- <button ion-button block clear>citoyen</button> -->
        <h5 ion-text color="light" text-capitalize><ion-icon name="people" margin-right="4px"></ion-icon> citoyen</h5>
        <p class="brief" text-nowrap *ngIf="items[1]==false">small description about section </p>
        <div class="wrapper" [ngClass]="{'close': items[1]==false}">
          <button ion-button color="light" clear icon-left (click)="redirect('reclamation')">
            <ion-icon name="construct"></ion-icon>
            Reclamation
          </button>
          <br>
          <button ion-button color="light" clear icon-left (click)="redirect('question')">
            <ion-icon name="stats" margin-right></ion-icon >
              Question
          </button>
        </div>
      </ion-col>
    </ion-row>
<ion-row flex-wrap: nowrap class="bg-contact" (click)="redirect('contact')">
      <ion-col align-self-stretch class="cell-3">
        <!-- <button ion-button block clear>contact</button> -->
        <h5 ion-text color="light" text-capitalize><ion-icon name="mail" margin-right="4px"></ion-icon> contact</h5>
        <p class="brief" text-nowrap *ngIf="items[2]==false">small description about section </p>
        <div class="wrapper" [ngClass]="{'close': items[2]==false}">
          <br>
          <button ion-button color="light" clear icon-left (click)="redirect('contact')" >
            <ion-icon name="stats" margin-right></ion-icon>
        Contacter l'administrateur
          </button>

        </div>
      </ion-col>
    </ion-row>
    <ion-row flex-wrap: nowrap class="bg-about" (click)="redirect('information')">
      <ion-col align-self-stretch class="cell-4">
        <!-- <button ion-button block clear>a propos</button> -->
        <h5 ion-text color="light" text-capitalize><ion-icon name="information-circle" margin-right="4px"></ion-icon> a propos</h5>
        <p class="brief" text-nowrap *ngIf="items[3]==false">small description about section </p>
        <div class="wrapper" [ngClass]="{'close': items[3]==false}">
          <button ion-button color="light" clear icon-left (click)="redirect('information')">
            <ion-icon name="construct"></ion-icon>
              Information sur l'application
          </button>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
